  .OrderForm
    box-sizing :border-box
    margin : 10px 30px
    .OrderEditHeader,.AccountSeachInput,.AccountGrid,.InstrumentSearch,.InstrumentList,.BondOrderInput,.OrderEditFooter
      margin-bottom:10px