.BondOrderInput
  .row
  .form
    padding:0
    margin-bottom: 10px
    .cell 
      border-right:1px solid  rgba(7,17,27,0.1)
      &:last-child
        border:0
    fieldset
      border:0
      padding:0
      .k-widget
        width:100%
    .cell
      fieldset
        padding:5px
        .bigInput
          height: 50px
            